In [17]:
import pandas as pd
covid_data = pd.read_csv('C:/Users/1/Documents/GitHub/DS-learn/data/covid_19_data.csv')
display(covid_data.head())

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [19]:
vaccinations_data = pd.read_csv('C:/Users/1/Documents/GitHub/DS-learn/data/country_vaccinations.csv')
vaccinations_data = vaccinations_data[
    ['country', 'date', 'total_vaccinations', 
     'people_vaccinated', 'people_vaccinated_per_hundred',
     'people_fully_vaccinated', 'people_fully_vaccinated_per_hundred',
     'daily_vaccinations', 'vaccines']]
vaccinations_data.head(7)

,country,date,total_vaccinations,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,daily_vaccinations,vaccines
0,Afghanistan,2021-02-22,0.0,0.0,0.00,NaN,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,Afghanistan,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
2,Afghanistan,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
3,Afghanistan,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
4,Afghanistan,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
5,Afghanistan,2021-02-27,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
6,Afghanistan,2021-02-28,8200.0,8200.0,0.02,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."

In [25]:
covid_data['date'] = covid_data['ObservationDate']
covid_data['country'] = covid_data['Country/Region']
covid_data['deaths'] = covid_data['Deaths']
covid_data['recovered'] = covid_data['Recovered']
covid_data['confirmed'] = covid_data['Confirmed']

In [26]:
covid_data = covid_data.groupby(
    ['date', 'country'], 
    as_index=False
)[['confirmed', 'deaths', 'recovered']].sum()
covid_data['date'] = pd.to_datetime(covid_data['date'])
covid_data['date'] = pd.to_datetime(covid_data['date'])
covid_data = covid_data.sort_values(by=['country', 'date'])
covid_data['daily_confirmed'] = covid_data.groupby('country')['confirmed'].diff()
covid_data['daily_deaths'] = covid_data.groupby('country')['deaths'].diff()
covid_data['daily_recovered'] = covid_data.groupby('country')['recovered'].diff()
covid_data

,date,country,confirmed,deaths,recovered,daily_confirmed,daily_deaths,daily_recovered
12394,2020-02-28,Azerbaijan,1.0,0.0,0.0,NaN,NaN,NaN
15308,2020-03-10,"('St. Martin',)",2.0,0.0,0.0,NaN,NaN,NaN
11424,2020-02-24,Afghanistan,1.0,0.0,0.0,NaN,NaN,NaN
11659,2020-02-25,Afghanistan,1.0,0.0,0.0,0.0,0.0,0.0
11898,2020-02-26,Afghanistan,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
16051,2020-03-12,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0
16715,2020-03-14,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0
17060,2020-03-15,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0
17414,2020-03-16,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0
17771,2020-03-17,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
vaccinations_data['date'] = pd.to_datetime(vaccinations_data['date'])